@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Londrina+Solid:wght@100;300;400;900&family=Merienda:wght@300..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Rancho&family=Roboto:ital,wght@0,100..900;1,100..900&family=ZCOOL+XiaoWei&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}
.profile{
    width: 40px;
    border-radius: 100%;
    @media (max-width:455px){
        /* display: none; */
}
}
nav{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}
.microphone{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    @media (max-width:921px){
        display: none;
    }
}
form{
    display: flex;
    align-items: center; 
    gap: 0.5rem;
    border: 1px solid #C6C6C6 ;
    /* padding: 1rem; */
    border-radius: 1.5rem;
    padding: 0.7rem 1rem;
    width: 500px;
 
}
.create{
    display: flex;
    align-items: center;  
    gap: 0.7rem;
}
.buttoncreate{
    background-color: #F2F2F2;
    border: none;
    border-radius: 20px;
    height: 35px;
    width: 100px;
    display: flex;
    align-items: center; 
    justify-content: center;
    cursor: pointer;
    @media (max-width:455px){
        display: none;
}
}
.bx-plus{
    font-size: 20px;
    font-weight: 100;
}
.bxs-microphone{
    background-color: #F2F2F2;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 100%;
}
input{
    border: none;
    outline: none;
    width: 90%;
}
.bx-search{
    font-size: 1.5rem;
}
.bx-cast{
    font-size: 1.2rem;
    display: none;
    @media (max-width:455px){
        display: block;
        font-size: 1.8rem;
}
}
.bar{
    display: flex;
    align-items: center;
    display: none;
    @media (max-width:455px){
        display: block;
        font-size: 1.8rem;
}
}
.you tube{
    display: flex;
    align-items: center;

}
.bx-menu{
    font-size: 1.2rem;
    @media (max-width:455px){
        font-size: 1.5rem;
}
}
.bx-bell{
    @media (max-width:455px){
        font-size: 1.8rem;
}
}
section{
    width: 100%;
    display: flex;
}
.sec-content{
    width: 20%;
    background-color: rgb(255, 255, 255);
    overflow-x: auto;
    height: 100vh;
    @media (max-width:955px){
        display: none;
}
}
.sec-videos{
    width: 80%;
    background-color: #fff;
    @media (max-width:455px){
      
        width: 100%;
}
}
.Home{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #E5E5E5;
    gap: 0.6rem;
    padding: 1rem;
}
.home1{
    display: flex;
    align-items: center;
    gap: 0.9rem;
    
}
.bxs-home{
    font-size: 1.5rem;
}
.youtimg{
    height: 40px;
    border-radius: 100%;
}
.heading{
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    overflow-y: auto;
    scrollbar-width: none;
    background-color: #fff;
}
.All{
border: none;
padding: 0.7rem;
border-radius: 0.5rem;
background-color: rgb(242,242,242);
}
.img11{
width: 100%;
display: block;
border-radius: 0.5rem;
}
.video-template{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 100%;
}
.img2{
    display: flex;
    gap: 0.5rem;
    align-items: center;
 
    
}
.bx-dots-vertical-rounded{
    font-size: 20px;
}
.last-text{
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}
.video-container{
    overflow-x: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    padding: 1rem;
    @media (max-width:455px){
      
        grid-template-columns: repeat(1, 1fr);
}
}
.left{
    width: 70%;
background-color: #fff;
@media (max-width:455px){
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
        flex-direction: column;
}
video{
    @media (max-width:455px){
        width: 100%;
        object-fit: cover;
    } 
}
}
.right{
    width: 30%;
    background-color:#fff;
 
}
.imgp2{
    width: 100%;
   padding: 1rem;
   border-radius: 2rem;
}
.bigbox{
    display: flex;
    @media (max-width:455px) {
        display: flex;
        flex-direction: column;
    }
}
.video-template1{
    display: flex;
}
.img12{
    width: 150px;
    border-radius: 1rem;
}
.pr1{
    font-size: 12px;
    padding-left: 10px;
}
.pr12{
    font-size: 12px;
    padding: 0;
   
}
.last-text{
    padding: 10px;
    font-weight: lighter;
}
.video{
    border-radius: 10px;
    border-radius: 1rem; 
    padding-left: 3rem;
}
.profilsection{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pic{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.name{
    font-weight: bold;
}
.abox{
    padding-left: 35px;
    padding-top: 10px;
    @media (max-width:455px){
   padding-left: 10px;
    }
}
.titleofmix{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.btn1{
    background-color: #F2F2F2;
    border: none;
    border-radius: 20px;
    height: 35px;
    width: 70px;  
    font-size: 12px;
    gap: 10px;
    cursor: pointer;
    @media (max-width:455px) {
        display: none;}
}
.btn2{
    @media (max-width:455px){
        display: none;
    }
    background-color: #000;
    border: none;
    border-radius: 20px;
    height: 35px;
    width: 100px;  
    font-size: 12px;
    color: white;
    gap: 10px;
    cursor: pointer;
}
.buttons2{
    display: flex;
    gap: 1rem;
    padding-right: 47px;
    cursor: pointer;
}
.buttoncreatecircle{
     background-color: #F2F2F2;
    border: none;
    border-radius: 50%;
    height:35px;
    width: 35px;
    display: flex;
    align-items: center; 
    justify-content: center;
    cursor: pointer;
    @media (max-width:455px){
        display: none;
    }
}
.commentbox{
    width: 95%;
    background-color: #F2F2F2;
  margin-top: 1rem;
  height: 60px;
  padding-top: 12px;
  padding-left: 10px;
  border-radius: 10px;
}
.bx-like{
    font-size: 12px;
}
.bxs-share{
    font-size: 12px;  
}
.bx-download{
    font-size: 12px;  
}
.commentsec{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.commentsec{
    margin-top: 15px;
    
}
.colin{
    width: 40px;
    border-radius: 100%;
}
navv{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    @media (max-width:455px){
        display: none;
    }






}
@media (max-width:455px){
    .video-template1{
        display: flex;
        display: none;
    }
    .All{
        border: none;
        padding: 0.7rem;
        border-radius: 0.5rem;
        background-color: rgb(242,242,242);
        display: none;
        }
        .video{
            border-radius: 10px;
            border-radius: 1rem; 
            padding-left: 3rem;
            width: 100%;
}}
.profilee{
    width: 40px;
    border-radius: 100%;
    @media (max-width:455px){
        display: none;
}}

.bx-searchh{
    font-size: 1.5rem;
    @media (max-width:455px){
        /* font-size: 1.8rem; */
        display: block;
}
}
.bx-castt{
    font-size: 1.2rem;
    display: none;
    @media (max-width:455px){
        display: block;
        font-size: 1.8rem;
}}
.you tubee{
    display: flex;

    align-items: center;
    @media (max-width:455px){
        display: none;}
}
    .bx-belll{
        @media (max-width:455px){
            font-size: 1.8rem;
            display: none;
        
    }
    }
    .bx-menuu{
        font-size: 1.2rem;
        @media (max-width:455px){
            font-size: 1.5rem;
            display: block;
    }
    }
    .page222{
        @media (max-width:455px){
            
            display: none;
    } 
    }
    .bx-dots-horizontal-rounded{
        /* background-color: #000; */
        @media (max-width:455pxs){
            display: none;
        }
    }
   

   .buttonmobileee{
    
    @media (max-width:455pxs){
        
       display: flex;
    }
   }
   .buttonmobilee{
    background-color: #F2F2F2;
    border: none;
    border-radius: 20px;
    height: 35px;
    width: 100px;
  margin-top: 10px;
    align-items: center; 
    justify-content: center;
    cursor: pointer;
    overflow-x: auto;
   }
   .MMM{
    @media (max-width:455pxs){
        
        display: none;
     }
   }
   .comnt{
  @media (max-width:455px){
    display: none;
  }
   }
   .video-template3{
    @media (max-width:455px){
        width: 100%;
      }
   }
   .img123{
    @media (max-width:455px){
        width: 100%;
         object-fit: contain;
      }
   }
   .img122{
    padding: 1rem;
   }
   .video{
    @media (max-width:455px){
    margin-right: 75px;
    }
   }